{% extends 'accounts/base.hmtl' %}

{% block title %}{{ user.username }} - Profile{% endblock %}
{% block content %}
    <h2>{{ user.username }}</h2>

    <section>
        <img src="{{ profile.avatar.url }}" alt="{{ user_profile.username }}'s avatar"
                width="120" height="120">

        <h3><strong>{{ profile.get_display_name }}</strong></h3>

        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% endif %}

        {% if profile.website %}
            <p><a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
        {% endif %}

        <p>
            <strong>{{ posts_count }}</strong> Posts
            <strong>{{ followers }}</strong> Followers
            <strong>{{ followings }}</strong> Followings
        </p>

    </section>

    {% if not is_own_profile %}
        <section>
            <form method="POST" action="{% url 'toggle_follow' user.username %}">
                {% csrf_token %}
                {% if is_following %}
                    <button type="submit">Unfollow</button>
                {% else %}
                    <button type="submit">Follow</button>
                {% endif %}
            </form>
        </section>
    {% endif %}

    <footer>
        <p>&copy; {{ now|date:"Y" }} InstaClone</p>
    </footer>
        
{% endblock %}